#filters {
	float: left;
	width: 25%;
	min-width: 250px;
	margin: 0px;
	margin-right: 5%;
}

#filters form {
	font-size: 15px;
}

#filters form h3 {
	margin: 15px 0px 0px;
	font-size: 16px;
}

.search {
	float: right;
}

.search input {
	margin: 0px 10px 0px 0px;
	width: 100px;
}

#filters input[name="grade"] {
	margin-left: 10px;
}

#filters table {
	width: 100%;
	text-align: center;
}

#results {
	float: right;
	width: 70%;
	min-width: 700px;
	margin: 0px;
}

#results table {
	width: 100%;
	border: 1px solid black;
	text-align: center;
	border-collapse: collapse; 
}

#results th {
	font-size: 12px;
	text-transform: uppercase;
	background-color: #666;
	color: #EEE;
}

#results tr {
	border: 1px solid black;
	margin: 0px;
}

#results tr:hover {
	background-color: #FFF;
	cursor:pointer;
}
