body {
	margin: 40px auto;
	max-width: 1000px;
	line-height: 1.6;
	font-size: 18px;
	color: #444;
	padding: 0 10px;
}

h1, h2, h3 {
	line-height: 1.2;
}

.header h1 {
	float: left;
	padding: 0px;
	margin: 0px;
}

.navbar {
	float: right;
}

.navbar ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.navbar li {
	display: inline;
	margin: 0px 5px 0px;
	text-decoration: underline;
}

#content {
	max-width: 650px;
	clear: both;
}

.footer p {
	clear: both;
	position: fixed;
	bottom: 0px;
}

.footer p {
	font-size: 12px;
}