body {
	margin: 40px auto;
	max-width: 1000px;
	line-height: 1.6;
	font-size: 18px;
	color: #333;
	background-color: #EEE;
	padding: 0 10px 0;
}

h1, h2, h3 {
	line-height: 1.2;
}

.header h1 {
	float: left;
	padding: 0px;
	margin: 0px;
}

.navbar {
	float: right;
	padding-bottom: 30px;
}

.navbar ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.navbar li {
	display: inline;
	margin: 0px 5px 0px;
}

.navbar li a {
	color: #00E;
	text-decoration: none;
}

.navbar li a:hover {
	text-decoration: underline;
}

#content {
	clear: both;
	width: 100%;
}

.footer p {
	clear: both;
	position: fixed;
	bottom: 0px;
}

.footer p {
	font-size: 12px;
}