{% extends "master.html" %}

{% block title %}Class View{% endblock %}

{% block head %}
{{ super() }}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='class.css') }}"></link>
{% endblock %}

{% block content %}
<div id="filters">
    <div class="icon" href="/data">
        <form class="search" action='/student'>
            <input type="text" name='osis' placeholder="Enter an OSIS">
            <button>Find Student</button>
        </form>
    </div>


    <form style="float:left;">
        <h3>Select Grade(s):</h3>
        <input type="checkbox" {{ "checked='checked'" if not boxes
            or boxes['grade-12'] == ['on'] }} name="grade-12">12
        <input type="checkbox" {{ "checked='checked'" if not boxes
            or boxes['grade-11'] == ['on'] }} name="grade-11">11
        <input type="checkbox" {{ "checked='checked'" if not boxes
            or boxes['grade-10'] == ['on'] }} name="grade-10">10
        <input type="checkbox" {{ "checked='checked'" if not boxes
            or boxes['grade-9'] == ['on'] }} name="grade-9">9

        <h3>Select Requirement Status:</h3>
        <input type="radio" {{ "checked='checked'" if not boxes or boxes['logic']
        == ['and'] }} name="logic" value="and">AND
        <input type="radio" {{ "checked='checked'" if boxes and boxes['logic'] == ['or'] }} name="logic" value="or">OR
        <table id="toggle-filters">
            <tr>
                <th><input id="toggle-all" type="checkbox" onClick="toggleBoxes(this)" /></th>
                <th onClick="toggleCol('fulfilled')">Fulfilled</th>
                <th onClick="toggleCol('missing')">Missing</th>
                <th onClick="toggleCol('failed')">Failed</th>
            </tr>
            <tr>
                <th onClick="toggleRow(0)">Music</th>
                <td><input type="checkbox" {{ "checked='checked'" if not boxes
                    or boxes['0-fulfilled'] == ['on'] }} name="0-fulfilled"></td>
                <td><input type="checkbox" {{ "checked='checked'" if not boxes
                    or boxes['0-missing'] == ['on'] }} name="0-missing"></td>
                <td><input type="checkbox" {{ "checked='checked'" if not boxes
                    or boxes['0-failed'] == ['on'] }} name="0-failed"></td>
            </tr>
            <tr>
                <th onClick="toggleRow(1)">Art</th>
                <td><input type="checkbox" {{ "checked='checked'" if not boxes
                    or boxes['1-fulfilled'] == ['on'] }} name="1-fulfilled"></td>
                <td><input type="checkbox" {{ "checked='checked'" if not boxes
                    or boxes['1-missing'] == ['on'] }} name="1-missing"></td>
                <td><input type="checkbox" {{ "checked='checked'" if not boxes
                    or boxes['1-failed'] == ['on'] }} name="1-failed"></td>
            </tr>
            <tr>
                <th onClick="toggleRow(2)">Intro CS 1</th>
                <td><input type="checkbox" {{ "checked='checked'" if not boxes
                    or boxes['2-fulfilled'] == ['on'] }} name="2-fulfilled"></td>
                <td><input type="checkbox" {{ "checked='checked'" if not boxes
                    or boxes['2-missing'] == ['on'] }} name="2-missing"></td>
                <td><input type="checkbox" {{ "checked='checked'" if not boxes
                    or boxes['2-failed'] == ['on'] }} name="2-failed"></td>
            </tr>
            <tr>
                <th onClick="toggleRow(3)">Drafting</th>
                <td><input type="checkbox" {{ "checked='checked'" if not boxes
                    or boxes['3-fulfilled'] == ['on'] }} name="3-fulfilled"></td>
                <td><input type="checkbox" {{ "checked='checked'" if not boxes
                    or boxes['3-missing'] == ['on'] }} name="3-missing"></td>
                <td><input type="checkbox" {{ "checked='checked'" if not boxes
                    or boxes['3-failed'] == ['on'] }} name="3-failed"></td>
            </tr>
            <tr>
                <th onClick="toggleRow(4)">5-Tech</th>
                <td><input type="checkbox" {{ "checked='checked'" if not boxes
                    or boxes['4-fulfilled'] == ['on'] }} name="4-fulfilled"></td>
                <td><input type="checkbox" {{ "checked='checked'" if not boxes
                    or boxes['4-missing'] == ['on'] }} name="4-missing"></td>
                <td><input type="checkbox" {{ "checked='checked'" if not boxes
                    or boxes['4-failed'] == ['on'] }} name="4-failed"></td>
            </tr>
            <tr>
                <th onClick="toggleRow(5)">10-Tech</th>
                <td><input type="checkbox" {{ "checked='checked'" if not boxes
                    or boxes['5-fulfilled'] == ['on'] }} name="5-fulfilled"></td>
                <td><input type="checkbox" {{ "checked='checked'" if not boxes
                    or boxes['5-missing'] == ['on'] }} name="5-missing"></td>
                <td><input type="checkbox" {{ "checked='checked'" if not boxes
                    or boxes['5-failed'] == ['on'] }} name="5-failed"></td>
            </tr>
            <tr>
                <th onClick="toggleRow(6)">Health</th>
                <td><input type="checkbox" {{ "checked='checked'" if not boxes
                    or boxes['6-fulfilled'] == ['on'] }} name="6-fulfilled"></td>
                <td><input type="checkbox" {{ "checked='checked'" if not boxes
                    or boxes['6-missing'] == ['on'] }} name="6-missing"></td>
                <td><input type="checkbox" {{ "checked='checked'" if not boxes
                    or boxes['6-failed'] == ['on'] }} name="6-failed"></td>
            </tr>
        </table>

        <button class="submit" type="submit" name="action">Update</button>
        <button style="width:100%;" id='export_list'>Export</button>
    </form>
</div>

<script>
document.getElementById('export_list').addEventListener('click', function(e) {
    window.open('/export_filtered/', '_blank');
});
</script>

<div id="results">
    <table>
        <tr>
            <th>OSIS</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Grade</th>
            <th>Off Class</th>
        </tr>
    {% for student in students %}
        <tr onclick="location.href='/student/{{ student.osis }}'">
            <td>{{ student.osis }}</td>
            <td>{{ student.lastn }}</td>
            <td>{{ student.firstn }}</td>
            <td>{{ student.grade }}</td>
            <td>{{ student.offcl }}</td>
        </tr>
    {% endfor %}
    </table>
</div>

<script language="JavaScript">
var toggleBoxes = function toggleBoxes() {
    console.log("toggling");
    var boxes = document.getElementById("toggle-filters").querySelectorAll("input");
    var tog = document.getElementById("toggle-all");
    for(var i=0, n=boxes.length; i<n; i++) {
        boxes[i].checked = tog.checked;
    }
};

var cols = ["fulfilled", "missing", "failed"];

var toggleRow = function toggleRow(rownum) {
    console.log("toggling row");
    var names = [];
    for (c in cols) {
        names.push(rownum + "-" + cols[c]);
    }
    var boxes = [];
    for (var i=0, n=names.length; i<n; i++) {
        boxes.push( document.getElementsByName(names[i])[0] );
    }
    var val = boxes[0].checked;
    for(var i=0, n=boxes.length; i<n; i++) {
        boxes[i].checked = !val;
    }
};

var toggleCol = function toggleCol(name) {
    console.log("toggling col");
    var numRows = 7;
    var names = [];
    for (var i=0; i<numRows; i++) {
        names.push(i.toString() + "-" + name);
    }
    var boxes = [];
    for (var i=0, n=names.length; i<n; i++) {
        boxes.push( document.getElementsByName(names[i])[0] );
    }
    var val = boxes[0].checked;
    for(var i=0, n=boxes.length; i<n; i++) {
        boxes[i].checked = !val;
    }
};
</script>
{% endblock %}
