{% extends "master.html" %}

{% block title %}Student View{% endblock %}

{% block head %}
{{ super() }}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='student.css') }}"></link>
{% endblock %}

{% block content %}
<h2>{{ profile.lastn }}, {{ profile.firstn }}</h2>
<h3>Grade {{ profile.grade }}</h3>
<h2>{{ profile.osis }}</h2>
<h3>{{ profile.offcl }}</h3>
<br><br>

<table>
	<tr><th>Art</th><td>{{ courses[0] }}</td></tr>
	<tr><th>Music</th><td>{{ courses[1] }}</td></tr>
	<tr><th>Intro CS 1</th><td>{{ courses[2] }}</td></tr>
	<tr><th>Drafting</th><td>{{ courses[3] }}</td></tr>
	<tr><th>5-Tech</th><td>{{ courses[4] }}</td></tr>
	<tr><th>10-Tech</th><td>{{ courses[5] }}</td></tr>
	<tr><th>Health</th><td>{{ courses[6] }}</td></tr>
</table>
{% endblock %}