{% extends "master.html" %}

{% block title %}Upload Data{% endblock %}

{% block content %}
<div align="center">
    {% if err %}
    <h2>Upload Failed!</h2>
    <h3>Error: {{ err }}</h3>
    {% endif %}
    {% if redir == 'upload' %}
    <h2> Upload an Excel File: </h2>
    {% elif redir == 'update_reqs' %}
    <h2> Upload a new Graduation Requirement JSON File: </h2>
    {% endif %}
    <form action="/{{ redir }}/" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" />
        <br>
        <input type="submit"/>
    </form>
</div>

{% endblock %}
